:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255);
	background-color: var(--secondary-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary-color: #242424;
	--secondary-color: #d7ffee;
}

body {
	background-color: var(--primary-color);
	margin: 1%;
	padding: 5%;
	border-radius: 10em 0;
}

#awning {
	width: 100%;
	text-align: center;
}

.title {
	text-align: center;
	font-size: 4rem;
	text-shadow: 0 0 10px var(--secondary-color);
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.flex-item {
	text-align: center;
	border-radius: 0 0 7.5% 7.5%;
	width: 150px;
	padding: 20px;
	background-color: white;
	color: var(--primary-color);
	transform: scale(1);
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.flex-item:hover {
	transform: scale(1.1);
	box-shadow: 0 0 20px red;
}

.flex-item .image-container {
	width: 100%;
	padding-top: 100%;
	position: relative;
	overflow: hidden;
}

.image-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.menu-button {
	background-color: #e6e6e6;
	color: var(--secondary-color);
	padding: 5px;
	border-radius: 5em;
}

.menu-button:hover {
	border: 1px solid var(--primary-color);
}

.menu-button a {
	text-decoration: none;
	color: var(--primary-color);
}
